body {
    display: inline-block;
    margin: 0;
}

main {
    float: left;
    width: 100%;
}

.container {
    float: left;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}


.row {
    float: left;
    width: 1000px;
    margin-left: calc(50% - 500px);
    background-color: yellow;
}
.row-short {
    float: left;
    width: 600px;
    margin-left: calc(50% - 300px);
    background-color: pink;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.left-column {
    width: 50%;
}
.right-column {
    width: 40%;
}