


.btn {
    display: inline-block;
    color: white;
    background-color: var(--secondary-color);
    padding: 1em 2em;
    border: none;
    box-shadow: 0 2px 8px #0002;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
}

.btn:hover {
    color: var(--secondary-color);
    background-color: white;
    box-shadow: 0 2px 8px #0008;
}