input {
    height: 20px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fffb;
    margin-bottom: 20px;
}

textarea {
    resize: none;
}

input::placeholder {
    color: #fffb; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: italic;
    
  }