.progress-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.progress-bar > .top {
    display: flex;
    justify-content: space-between;
    color: darkgrey;
    font-size: 18px;
}

.progress-bar > .bottom {
    height: 6px;
    background-color: grey;
    border-radius: 3px;

}

.progress-bar > .bottom > .progress {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.progress-bar .progress > .bar {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--primary-color);
    animation: loading 1s forwards;
}

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
    
}
