.hero {
    min-height: 100vh;
    text-align: center;
    background-image: url(../../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero > .row-short {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.logo {
    height: 40px;
    object-fit: contain;
    margin-bottom: 30px;
}

.main-title {
    font-size: 70px;
    text-transform: uppercase;
}

.main-description {
    font-size: 20px;
    color: #afb9c3;
}

.clock {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-title {
    text-transform: uppercase;
    font-size: 20px;
}

.section-description {
    font-size: 18px;
    color: #afb9c3;
}

.section-description > a {
    color: var(--secondary-color);
    text-decoration: none;
}

.section-description > a:hover {
    text-decoration: underline;
}

footer.container {
    padding-top: 0;
    text-align: center;
    color: #fffb;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

.bottom-trio {
    display: flex;
    justify-content: center;
    gap: 0 30px;
}

.bottom-trio > span {
    position: relative;
}

.bottom-trio > span::after {
    content: '';
    display: inline-block;
    background-color: #fffb;
    position: absolute;
    width: 2px;
    height: 16px;
    top: 50%;
    right: -15px;
    transform: translate(50%, -50%);
}

.bottom-trio > span:last-child::after {
    display: none;
}

@media (max-width: 700px) {
    .main-title {
        font-size: 60px;
    }
    .bottom-trio {
        flex-direction: column;
    }
    .bottom-trio > span::after {
        display: none;
    }
}

.back-to-top {
    position: absolute;
    top: -25px;
    right: -20px;
    background-color: var(--secondary-color);
}