.hero {
    min-height: 100vh;
    text-align: center;
}

.hero > .row-short {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo-green {
    height: 40px;
    object-fit: contain;
    margin-bottom: 30px;
}

.main-title {
    font-size: 80px;
    text-transform: uppercase;
}

.main-description {
    font-size: 20px;
    color: #fffb;
}

.clock {
    margin: 30px 0;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-title {
    text-transform: uppercase;
    font-size: 20px;
}

.section-description {
    font-size: 18px;
    color: grey;
}

.section-description > a {
    color: var(--secondary-color);
    text-decoration: none;
}

.section-description > a:hover {
    text-decoration: underline;
}

footer.container {
    padding-top: 0;
    text-align: center;
    color: #fffb;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}